body
{
	margin:0px;
	padding:0px;
	background:#f5f5f5;
	font-family:  'Lato', PT Sans,sans-serif;
}


.topNav
{
	font-family: 'lato', sans-serif;
	font-weight:bold;
	font-size:12px;
	width:960px;
	margin:0 auto;
	letter-spacing:-1px\9;
}

.tabs li
{
	display:inline;

	margin-right: 10px;
}

.tabs li a
{
	cursor: pointer;
	background: #6DB61F;
	padding:15px 13px 11px 12px;
	font-family:'lato',sans-serif;
	font-size:16px;
	border-radius: 10px;
	color:#FFF;
	font-weight:400;
}

.tabs li a:hover {
	background: #92919A;
}

.tabs .tab-current
{
	background:#86919A;
}

.tabs .tab-current:hover
{
	background:#92919A;
}

.tabsContent
{
	border:1px solid #cccccc;
	
	-moz-box-shadow: 0px 3px 5px #cccccc;
	-webkit-box-shadow: 0px 3px 5px #cccccc;
	box-shadow: 0px 3px 5px #cccccc;
	background:#ffffff;
	padding:20px 20px 20px 20px;
	color:#666666;
}

ul.tabs
{
	margin-left: 0px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

/*Firefox hack*/
@-moz-document url-prefix()
{
	ul.tabs
	{
	   margin: 0 0 11px 0px;
	}
}